body{
    background-color: blanchedalmond;
}
#Home{
    background-color:  #483355;
    border: 2px solid #000000;
}

h1{
    font-family: "Roboto", sans-serif;
    font-style: oblique;
    color: aqua;
    font-size: xx-large;
    margin-left: 500px;
    margin-bottom: 0px;
}

#music-button{
    margin-top: 0px;
    margin-left: 1070px;
}

#music-desc{
    font-weight: bold;
    margin-top: 0px;
    margin-left: 1000px;
}
.navbar{
    display: inline;
    font-size: large;
    color:black;
    margin-left: 100px;
}
.navbar:hover{
    font-size: x-large;
    font-weight: bold;
    color:red;
    margin-left: 100px;
}
main{
    background-color :yellowgreen
}
#About{
    border: 2px solid #000000;
    padding: 10px;
}
h2{
    margin-left: auto;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    color:brown;
}
#about-p{
    font-family: "Roboto", sans-serif;
    margin-left: auto;
}
#about-p:hover{
        font-size: larger;
        color: royalblue;
        font-weight: bold;
}
#Work{
    border: 2px solid #000000;
    padding: 10px;
}
h3{
    margin-left: 450px;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    color:brown;
}
#list{
    font-family: "Roboto", sans-serif;
    margin-left: 430px;
}
#list:hover{
    font-size: larger;
    color: royalblue;
    font-weight: bold;
}
#Resume{
    border: 2px solid #000000;
    padding: 10px;
}
#table{
    margin-left: 250px;
    font-family: "Roboto", sans-serif;
    border-spacing: 5px;
    border-collapse: separate;
} 
caption{
    font-size: x-large;
    font-weight: bold;
    color:brown;
}
th{
    font-size: large;
    color: aqua;
    border: 2px solid black;
    padding: 5px;
}
th:hover{
    font-size: x-large;
    color: aqua;
}

#table td{
    border: 2px solid black;
    padding: 5px;
}
td:hover{
    font-size: large;
    color: red;
}
#Summary{
    border: 2px solid #000000;
    padding: 10px;
}
h4{
    margin-left: 550px;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    color:brown;
}
article{
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}
article:hover{
    font-size: large;
    color: cornflowerblue;
}
footer{
    border: 2px solid #000000;
    padding: 10px;
    background-color :yellowgreen
}
#Contact img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
#contact aside{
    font-size: large ;
    color: cornflowerblue ;
}
#Suggestions input[type="text"] {
    width: 300px;
}
#Contact,
#Contact img,
#Contact aside,
#Suggestions {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}